* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navigation bar section*/
.navbar__container {
  height: 5rem;
}

.container-fluid .title {
  padding: 0 2rem;
}

.container-fluid .navbar-brand {
  font-family: "Odibee Sans", sans-serif;
  font-size: 50px;
}

.navbar-collapse ul li a {
  font-size: 20px;
}

/* search and add task section */
.search_container {
  position: relative;
  margin-top: 3rem;
  padding: 3rem 6rem;
}

.input-group .btn {
  background-color: #2b3134;
  color: white;
}

.input-group .btn:hover {
  background-color: #2b3134e0;
  color: white;
}

.modal_container .btn {
  background-color: #2b3134;
  color: white;
}

.modal_container .btn:hover {
  background-color: #2b3134e0;
  color: white;
}

/* cards container section */
.card_container {
  padding: 3rem 5rem;
}

.task__contents {
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  display: flex;
  flex-wrap: wrap;
}

.card-body img {
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.outer-card {
  width: 400px !important;
  height: 580px !important;
}

@media screen and (max-width: 720px) {
  /* navigation bar section*/
  .navbar-collapse ul li a {
    color: white;
    font-size: 22px;
    font-weight: 600;
  }

  .navbar-collapse ul li {
    padding: 0 2rem;
    border-bottom: 2px solid #ffffff50;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-collapse ul li:hover {
    background-color: #2b3134e0;
  }

  .navbar-collapse .navbar-nav {
    align-items: flex-end;
    background-color: #2b3134;
    position: relative;
    height: auto;
    z-index: 1;
  }

  /* search and add task section */
  .container-fluid .navbar-brand {
    font-size: 40px;
  }

  .container-fluid .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #ffffff50;
  }

  .search_container .input_container {
    width: 90% !important;
  }

  .input-group .btn-outline {
    z-index: 0 !important;
  }

  /* cards container section */
  .card_container {
    padding: 1rem 2rem;
  }

  .card-body img {
    height: 70px;
    object-fit: cover;
    object-position: center;
  }

  .outer-card {
    width: 40% !important;
    height: auto !important;
  }
}
