*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar__container{
    padding: 0;
    margin: 0;
    height: 5rem;
}

.navbar__container .navbar{
    width: 100vw;
    height: 100%;
}

.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid .navbar-brand{
    font-family: "Odibee Sans", sans-serif;
    font-size: 50px;
}

.navbar-collapse ul li a{
    font-size: 20px;
}

.navbar-collapse .navbar-nav{
    display: flex;
    gap: 1.75rem;
    align-items: center;
}

.search_and_card_container{
    /* background-color: gainsboro; */
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_and_card_container .input_container{
    width: 50%;
}

@media screen and (max-width: 1920px){
    .container-fluid .nav_item_containers{
        width: 20% !important;
    }
}


@media screen and (max-width: 720px) {
    .navbar-collapse ul li a{
        color: black;
        font-size: 22px;
        font-weight: 600;
    }
    .container-fluid .navbar-brand{
        font-size: 40px;
    }
}
